
/****** Object:  StoredProcedure [dbo].[OrderNotificationReadAllQueuedForOrderTypeWithReferenceObjects] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%	CHANGE HISTORY
%%%%%
%%%%%	WHO			DESCRIPTION
%%%%%	----------	------------------
		RNCRUZ		TFS 1234 - GetNotifications Optimization
		RNCRUZ		TFS 1235 - ADDED FROM_VENDOR_NAME AND TO_VENDOR_NAME TO RESULT SET
		RNCRUZ		TFS 1236 - ADDED DEFAULT VALUE FROM FIELD_DEFINITION TO CUSTOM FIELD DATA		
		RNCRUZ		TFS 1237 - RETURN DATA GRID REFERENCE NAME FOR DATA GRID DELETES		
%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%	PROCEDURE DESCRIPTION:
%%%%%	----------------------
		READ ALL QUEUED ORDER NOTIFICATIONS FOR ORDER TYPES WITH THEIR RESPECITVE REFERENCE OBJECTS
%%%%%
%%%%%	RESULT SET:
%%%%%	------------
		7 DATA SETS RETURNED:
		
		0) OrderDataSet.OrderNotificationDataTable
		1) OrderDataSet.OrderStatusChangeDataTable
		2) OrderDataSet.OrderImageDataTable
		3) OrderDataSet.OrderEventDataTable
		4) OrderDataSet.OrderCustomFieldDataTable
		5) OrderDataSet.OrderCustomGridDataDataTable
		6) OrderDataSet.OrderDataTable
		
%%%%%	SAMPLE CALL:
%%%%%	------------
		EXEC [dbo].[OrderNotificationReadAllQueuedForOrderTypeWithReferenceObjects]
			42486,
			NULL,
			'Custom Field Update,Data Grid Create,Data Grid Delete,Data Grid Update,New Attachment,New Note,New Order,Order Header Update,Status Change',
			0
%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

ALTER PROCEDURE [dbo].[OrderNotificationReadAllQueuedForOrderTypeWithReferenceObjects]
	@vendorID INT,
	@portfolioID INT = NULL,
	@notificationType NVARCHAR(2000),
	@loadContent bit = 0,
	@orderType nvarchar(50)
AS
BEGIN

	SET NOCOUNT ON

	--For some reason, typed DataAdapters have problems with temp tables if this isn't here
	IF 1 = 0
	BEGIN    
		SET FMTONLY OFF    
	END  

	CREATE TABLE #Type
	(
		NOTIFICATION_TYPE NVARCHAR(100) PRIMARY KEY
	)

	INSERT INTO #Type
	SELECT Item
	FROM dbo.udf_SplitOrdered(@notificationType, ',')

	CREATE TABLE #FIELDS
	(
		NOTIFICATION_GUID UNIQUEIDENTIFIER,
		ORDER_GUID UNIQUEIDENTIFIER,
		SUBSCRIPTION_GUID  UNIQUEIDENTIFIER,
		NOTIFICATION_STATUS NVARCHAR(50),
		NOTIFICATION_TYPE NVARCHAR(50),
		DATE_ACKNOWLEDGED DATETIME,
		DATE_CREATED DATETIME,
		VENDOR_ID INT,
		REFERENCE_GUID UNIQUEIDENTIFIER,
		FIELD_REFERENCE_NAME NVARCHAR(200),
		CUSTOM_GRID_DATA_GUID UNIQUEIDENTIFIER,
		GRID_REFERENCE_NAME NVARCHAR(200),
		NOTIFICATION_DESCRIPTION NVARCHAR(MAX),
		NOTIFICATION_DESCRIPTION_COMPOSED NVARCHAR(MAX),
		TRANSACTION_ID INT
	)

	INSERT INTO #FIELDS
	SELECT TOP 500
		orn.NOTIFICATION_GUID,
		orn.ORDER_GUID,
		orn.SUBSCRIPTION_GUID,
		orn.NOTIFICATION_STATUS,
		ns.NOTIFICATION_TYPE,
		orn.DATE_ACKNOWLEDGED,
		orn.DATE_CREATED,
		ns.VENDOR_ID,
		orn.REFERENCE_GUID,
		fd.REFERENCE_NAME,
		orn.CUSTOM_GRID_DATA_GUID,
		grid_definition.REFERENCE_NAME as GRID_REFERENCE_NAME,
		orn.NOTIFICATION_DESCRIPTION,
		orn.NOTIFICATION_DESCRIPTION_COMPOSED,
		OM.TRANSACTION_ID
	FROM 
		dbo.[ORDER_NOTIFICATION] orn (NOLOCK)
		INNER JOIN dbo.[NOTIFICATION_SUBSCRIBER] ns (NOLOCK)
			ON orn.SUBSCRIPTION_GUID = ns.SUBSCRIPTION_GUID
		INNER JOIN OTHERDB2.dbo.Contact NOTIFICATION_CREATED_BY (NOLOCK)
			ON NOTIFICATION_CREATED_BY.ContactId = orn.CREATED_BY
		LEFT JOIN FIELD_DEFINITION fd (NOLOCK)
			ON orn.REFERENCE_GUID = fd.FIELD_DEFINITION_GUID
		INNER JOIN #Type t 
			ON ns.NOTIFICATION_TYPE = t.NOTIFICATION_TYPE
		INNER JOIN ORDER_MASTER OM (NOLOCK)
			ON orn.ORDER_GUID = OM.ORDER_GUID
			
		LEFT JOIN ORDER_MASTER_CUSTOM_GRID_DATA omc_grid
			ON orn.CUSTOM_GRID_DATA_GUID = omc_grid.ORDER_MASTER_CUSTOM_GRID_DATA_GUID
		LEFT JOIN FIELD_DEFINITION grid_definition
			ON grid_definition.FIELD_DEFINITION_GUID = 
				CASE WHEN ns.NOTIFICATION_TYPE = 'Data Grid Delete' THEN orn.REFERENCE_GUID
				ELSE omc_grid.FIELD_DEFINITION_GUID END
	WHERE 
		orn.[NOTIFICATION_STATUS] = 'Queued'
		AND ns.[VENDOR_ID] = @vendorID
		AND (ns.[PORTFOLIO_ID] = @portfolioID OR @portfolioID IS NULL OR @portfolioID = -1)
		AND 
		(
			(ns.EXCLUDE_SAME_PARTY_NOTIFICATION = 1 AND NOTIFICATION_CREATED_BY.VendorId <> ns.VENDOR_ID)
			OR ns.EXCLUDE_SAME_PARTY_NOTIFICATION = 0
		)
		AND OM.ORDER_TYPE = @orderType
	ORDER BY 
		orn.DATE_CREATED
		
	-----------------------------
	-- BASE NOTIFICATION DATA
	-----------------------------
	SELECT 
		NOTIFICATION_GUID,
		ORDER_GUID,
		SUBSCRIPTION_GUID,
		NOTIFICATION_STATUS,
		NOTIFICATION_TYPE,
		DATE_ACKNOWLEDGED,
		DATE_CREATED,
		VENDOR_ID,
		REFERENCE_GUID,
		FIELD_REFERENCE_NAME,
		CUSTOM_GRID_DATA_GUID,
		GRID_REFERENCE_NAME,
		NOTIFICATION_DESCRIPTION,
		NOTIFICATION_DESCRIPTION_COMPOSED,
		TRANSACTION_ID
	FROM 
		#FIELDS

	-----------------------------
	-- STATUS CHANGE DATA
	-----------------------------
	SELECT
		osh.STATUS_CHANGE_GUID,
		osh.ORDER_GUID,
		osh.FROM_ORDER_TYPE_STATUS_GUID,
		otsf.ORDER_STATUS AS FROM_ORDER_STATUS,
		osh.TO_ORDER_TYPE_STATUS_GUID,
		otst.ORDER_STATUS AS TO_ORDER_STATUS,
		osh.STATUS_CHANGE_REASON,
		osh.DATE_CHANGED,
		osh.CHANGED_BY,
		CO.CO_FIRST_NAME + ' ' + CO.CO_LAST_NAME AS 'CHANGED_NAME'
	FROM 
		#FIELDS f
		INNER JOIN dbo.ORDER_STATUS_HISTORY osh	
			ON osh.STATUS_CHANGE_GUID = f.REFERENCE_GUID
		LEFT JOIN dbo.ORDER_TYPE_STATUS otsf 
			ON osh.FROM_ORDER_TYPE_STATUS_GUID = otsf.ORDER_TYPE_STATUS_GUID
		INNER JOIN dbo.ORDER_TYPE_STATUS otst 
			ON osh.TO_ORDER_TYPE_STATUS_GUID = otst.ORDER_TYPE_STATUS_GUID
		INNER JOIN OTHERDB.dbo.CONTACT CO 
			ON osh.CHANGED_BY = CO.CO_ID					
			
	-----------------------------
	-- IMAGE DATA
	-----------------------------
	SELECT
		oi.IMAGE_GUID,
		oi.ORDER_GUID,
		ISNULL(CASE WHEN FileTypeIndex > 0 THEN RIGHT(ImageFileName, FileTypeIndex) END, oiv.FILE_TYPE) FILE_TYPE,
		ISNULL(im.ImageFileName, oiv.IMAGE_NAME) IMAGE_NAME,
		CASE @loadContent WHEN 0 THEN NULL ELSE oiv.IMAGE_CONTENT END AS IMAGE_CONTENT,
		dt.DOCUMENT_TYPE_GUID,
		dt.DOCUMENT_TYPE,
		oi.DATE_CREATED,
		CASE WHEN oi.CREATED_BY = 0 THEN im.CreatedBy
			WHEN oi.CREATED_BY IS NULL THEN im.CreatedBy
			ELSE oi.CREATED_BY END AS CREATED_BY,		
		oi.GRID_ROW_GUID
	FROM 
		#FIELDS f
		INNER JOIN dbo.ORDER_IMAGE (NOLOCK) oi
			ON oi.ORDER_GUID = f.ORDER_GUID
			AND oi.IMAGE_GUID = f.REFERENCE_GUID
		INNER JOIN ORDER_IMAGE_VERSION (NOLOCK) oiv 
			ON oiv.IMAGE_GUID = f.REFERENCE_GUID
		INNER JOIN DOCUMENT_TYPE (NOLOCK) dt 
			ON oi.DOCUMENT_TYPE_GUID = dt.DOCUMENT_TYPE_GUID
		LEFT JOIN (
				SELECT 
					ImageFileGuid, 
					ImageFileName, 
					charindex('.', REVERSE(ImageFileName))-1 as FileTypeIndex,
					CreatedBy
				FROM 
					FadtCentral.dbo.ImageFile) im 
			ON im.ImageFileGuid = oi.IMAGE_GUID
	ORDER BY 
		IMAGE_NAME
		
	-----------------------------
	-- NOTES/EVENT DATA
	-----------------------------		
	SELECT DISTINCT
		oe.ORDER_GUID,
		e.EVENT_GUID,
		et.EVENT_TYPE_ID,
		et.EVENT_TYPE,
		e.EVENT_SOURCE,
		e.EVENT_DESCRIPTION,
		e.DATE_CREATED,
		e.CREATED_BY AS CREATED_BY_ID,
		c.FIRSTNAME + ISNULL(' ' + c.MiddleName, '') + ' ' + c.LASTNAME AS CREATED_BY_NAME,
		v.VendorName AS VENDOR_NAME
	FROM 
		#FIELDS f
		INNER JOIN dbo.ORDER_EVENT oe ON oe.EVENT_GUID = f.REFERENCE_GUID
		INNER JOIN dbo.[EVENT] e ON e.EVENT_GUID = f.REFERENCE_GUID
		INNER JOIN dbo.EVENT_TYPE et ON e.EVENT_TYPE_ID = et.EVENT_TYPE_ID
		LEFT JOIN OTHERDB2.dbo.Contact c ON e.CREATED_BY = c.ContactId
		LEFT JOIN OTHERDB2.dbo.Vendor v ON c.vendorID = v.vendorID
	ORDER BY 
		e.DATE_CREATED		
		
	-----------------------------
	-- CUSTOM FIELD DATA
	-----------------------------
	SELECT DISTINCT
		omc.ORDER_GUID,
		fd.FIELD_DEFINITION_GUID,
		fd.REFERENCE_NAME,
		fd.FIELD_LABEL,
		cp.CHANGE_PERMISSION_ID,
		cp.CHANGE_PERMISSION_DESCRIPTION,
		ISNULL(omc.FIELD_VALUE, fd.DEFAULT_VALUE) AS FIELD_VALUE,
		ISNULL(omc.DATE_CREATED, om.DATE_CREATED) as DATE_CREATED,
		ISNULL(omc.CREATED_BY, om.CREATED_BY) as CREATED_BY
	FROM 
		#FIELDS f
		INNER JOIN ORDER_MASTER_CUSTOM omc (NOLOCK)
			ON f.ORDER_GUID = omc.ORDER_GUID
			AND f.REFERENCE_GUID = omc.FIELD_DEFINITION_GUID
		INNER JOIN dbo.FIELD_DEFINITION fd (NOLOCK) 
			ON omc.FIELD_DEFINITION_GUID = fd.FIELD_DEFINITION_GUID 
		INNER JOIN dbo.FIELD_DEFINITION_PERMISSION fdp (NOLOCK) ON 
			fd.FIELD_DEFINITION_GUID = fdp.FIELD_DEFINITION_GUID
		INNER JOIN dbo.CHANGE_PERMISSION cp (NOLOCK) 
			ON fdp.CHANGE_PERMISSION_ID = cp.CHANGE_PERMISSION_ID
		INNER JOIN ORDER_MASTER om (NOLOCK)
			ON omc.ORDER_GUID = om.ORDER_GUID
	WHERE
		f.NOTIFICATION_TYPE = 'Custom Field Update'

	-----------------------------
	-- DATA GRID ROW DATA
	-----------------------------
	SELECT DISTINCT
		ORDER_MASTER_CUSTOM_GRID_DATA_GUID AS ORDER_CUSTOM_GRID_DATA_GUID
		,ORDER_MASTER_GUID AS ORDER_GUID
		,grid.FIELD_DEFINITION_GUID AS GRID_DEFINITION_GUID
		,fd.REFERENCE_NAME
		,ROW_NUMBER
		,VALUE_1, VALUE_2, VALUE_3, VALUE_4, VALUE_5
		,VALUE_6, VALUE_7, VALUE_8, VALUE_9, VALUE_10
		,VALUE_11, VALUE_12, VALUE_13, VALUE_14, VALUE_15
		,VALUE_16, VALUE_17, VALUE_18, VALUE_19, VALUE_20
		,VALUE_21, VALUE_22, VALUE_23, VALUE_24, VALUE_25
		,grid.DATE_CREATED
		,grid.CREATED_BY
		,CASE WHEN OM.FROM_VENDOR_ID = CO.VE_ID THEN 1 ELSE 0 END AS CREATED_BY_SUBMITTER
		,OM.TEMPLATE_VENDOR_ID
		,OM.ORDER_TYPE
		,OM.VERSION_NUMBER
	FROM 
		#FIELDS f
		INNER JOIN dbo.ORDER_MASTER_CUSTOM_GRID_DATA grid
			ON grid.ORDER_MASTER_GUID = f.ORDER_GUID
			AND grid.FIELD_DEFINITION_GUID = f.REFERENCE_GUID
			AND grid.ORDER_MASTER_CUSTOM_GRID_DATA_GUID = f.CUSTOM_GRID_DATA_GUID
		INNER JOIN dbo.FIELD_DEFINITION fd
			ON grid.FIELD_DEFINITION_GUID = fd.FIELD_DEFINITION_GUID
		
		INNER JOIN OTHERDB.dbo.contact CO
			ON grid.CREATED_BY = CO.co_id
		INNER JOIN ORDER_MASTER OM 
			ON grid.ORDER_MASTER_GUID = OM.ORDER_GUID
	ORDER BY
		grid.DATE_CREATED

	-----------------------------
	-- ORDER HEADER DATA
	-----------------------------			
	SELECT DISTINCT
		om.[ORDER_GUID],
		om.[TEMPLATE_VENDOR_ID],
		om.[ORDER_TYPE],
		om.[VERSION_NUMBER],
		om.[FROM_VENDOR_ID],
		FROM_VENDOR.ve_name AS [FROM_VENDOR_NAME],
		om.[FROM_PORTFOLIO_ID],
		om.[TO_VENDOR_ID],
		TO_VENDOR.ve_name AS [TO_VENDOR_NAME],
		om.[TO_PORTFOLIO_ID],
		om.[ASSIGNED_TO_VENDOR_ID],
		om.[ASSIGNED_TO_PORTFOLIO_ID],
		ots.[ORDER_STATUS],
		om.[ORDER_TYPE_STATUS_GUID],
		om.[ACCOUNT_NUMBER],
		om.[REFERENCE_NUMBER],
		om.[DATE_DUE],
		om.[DATE_FULFILLED],
		om.[DATE_COMPLETED],
		om.[DATE_CANCELLED],
		om.[APPLICATION_NAME],
		om.[TRANSACTION_ID],
		om.[DATE_CREATED],
		om.[CREATED_BY],
		om.[UPDATED_AFTER_READ_ONLY],
		(
			SELECT TOP 1 [STATUS_CHANGE_REASON]
			FROM [dbo].[ORDER_STATUS_HISTORY]
			WHERE [ORDER_GUID] = om.[ORDER_GUID]
			ORDER BY [DATE_CHANGED] DESC
		) AS [STATUS_CHANGE_REASON],
		om.[DESTINATION_REFERENCE_NUMBER]
	FROM 
		[dbo].[ORDER_MASTER] om
		INNER JOIN [dbo].[ORDER_TYPE_STATUS] ots 
			ON om.[ORDER_TYPE_STATUS_GUID] = ots.[ORDER_TYPE_STATUS_GUID]
		INNER JOIN #FIELDS f 
			ON om.ORDER_GUID = f.ORDER_GUID
			AND f.NOTIFICATION_TYPE = 'Order Header Update'
		INNER JOIN OTHERDB.dbo.vendor FROM_VENDOR
			ON om.FROM_VENDOR_ID = FROM_VENDOR.ve_id
		INNER JOIN OTHERDB.dbo.vendor TO_VENDOR
			ON om.TO_VENDOR_ID = TO_VENDOR.ve_id
				
	DROP TABLE #Type
	DROP TABLE #FIELDS
	
END
